<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 id="meal">Meal Tracker</h1>
    <p>Meal Tracker helps you keep an updated current record of all your meals!</p>
    <p>Join us today and feel free to maintain your meal tracker</p>
    <hr class="my-4">
    <a href="#" class="btn btn-primary btn-lg" role="button">Learn More</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 panel panel-default">
        <div class="panel-heading" id="log_foods">
          Log Foods For Today
        </div>
        <div class="panel-body">
         <app-today></app-today>
        </div>
      </div>

        <div class="col-md-6 panel panel-default">
          <div class="panel-heading" id="history">
            Load Food History
          </div>
          <div class="panel-body">
            <app-history></app-history>
          </div>
    </div>
    </div>
  </div>
  </div>
