<div class="container">
  <h3>My Meals History</h3>
  <div class="container">
    <div class="row">
      <div class="well well-lg col-md-4">
       <!-- {mealTracker.todayName} -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="well well-lg col-md-4">
       <!-- {mealTracker.todayCalories} -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="well well-lg col-md-4">
       <!-- {mealTracker.todayDetails} -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="well well-lg col-md-4">
       Details
      </div>
    </div>
  </div>

</div>
